form{
    border: 3px solid #F5E79D; 
    background-color: #008080;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px 0px;
    min-width: 25%;
    min-height: 100%;
    
}

h1{
    background-color: #66CDAA;
    font-size: 25px;
    border-radius: 8px;
    color: white;
    padding: 6px 10px;
    font-weight: bold;
    margin-bottom: 10px;
    
}

input{
    
    background-color: transparent;
    border: 1px solid #66CDAA;
    border-radius: 6px;
    right: 0;
    min-width: 40%;
    min-height: 150%;
}

label{
    font-family: arial;
    font-size: 14px;
    color: white;
    margin-right: 10px;
}

.input-group{
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

button{
    background-color: transparent;
    border-radius: 8px;
    border: 2px solid #F5E79D;
    color: white;
    padding: 5px 10px;
    margin-top: 10px;
    font-size: 14px;
}

button:hover{
    opacity: 0.5;
    cursor: pointer;
}